@{
    ViewBag.Title = "Home Page";
}

<section id="home">
    <div class="atf-slider atf-style1 atf-hero-slider1 atf-hero-slider2">
        <div class="slick-container" data-autoplay="0" data-loop="1" data-speed="800" data-autoplay-timeout="1000" data-center="0" data-slides-per-view="1" data-fade-slide="1">
            <div class="slick-wrapper">
                <div class="slick-slide-in">
                    <div class="atf-single-home atf-hero-area" style="background-image: url(../Content/assets/img/banner/1.jpg);  background-size:cover; background-position: center center;">
                        <div class="atf-home-overlay">
                            <div class="container">
                                <div class="row atf-single-slide-sm2 atf-align-items-details align-items-center atf-single-text justify-content-center">
                                    <!--LEFT COL-->
                                    <div class="col-xl-6 col-lg-6 col-12 text-center atf-single-details ">
                                        <h5 class="mb-0 d-block d-lg-block text-white">Theo dõi website ngay bây giờ</h5>
                                        <h2 class="mb-0 d-block d-lg-block">Khuyến mãi tốt nhất trong bộ sưu tập của shop.</h2>
                                        <p class="pr-lg-5">Xuất xứ rõ ràng nhìn là yêu ngay</p>
                                        <!-- Main-btn -->
                                        <div class="atf-main-btn mt-3">
                                            <a href="#" class="page-scroll atf-themes-btn mr-4">Hàng cao cấp <i class="fa fa-angle-right"></i></a>
                                            <a href="#" class="page-scroll atf-themes-btn">Đặt ngay<i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div><!--- END COL -->
                                </div><!--- END ROW -->
                            </div><!--- END CONTAINER -->
                        </div><!--- END Overlay -->
                    </div><!--- END slide -->
                </div><!-- .slick-slide-in -->

                <div class="slick-slide-in">
                    <div class="atf-single-home atf-hero-area" style="background-image: url(../Content/assets/img/banner/3.jpg);  background-size:cover; background-position: center center;">
                        <div class="atf-home-overlay">
                            <div class="container">
                                <div class="row atf-single-slide-sm2 atf-align-items-details align-items-center atf-single-text justify-content-center">
                                    <!--LEFT COL-->
                                    <div class="col-xl-6 col-lg-6 col-12 text-center atf-single-details ">
                                        <h5 class="mb-0 d-block d-lg-block text-white">Theo dõi website ngay bây giờ</h5>
                                        <h2 class="mb-0 d-block d-lg-block">Khuyến mãi tốt nhất trong bộ sưu tập của shop.</h2>
                                        <p class="pr-lg-5">Xuất xứ rõ ràng nhìn là yêu ngay</p>
                                        <!-- Main-btn -->
                                        <div class="atf-main-btn mt-3">
                                            <a href="#" class="page-scroll atf-themes-btn mr-4">Hàng cao cấp <i class="fa fa-angle-right"></i></a>
                                            <a href="#" class="page-scroll atf-themes-btn">Đặt ngay<i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div><!--- END COL -->
                                </div><!--- END ROW -->
                            </div><!--- END CONTAINER -->
                        </div><!--- END Overlay -->
                    </div><!--- END slide -->
                </div><!-- .slick-slide-in -->

                <div class="slick-slide-in">
                    <div class="atf-single-home atf-hero-area" style="background-image: url(../Content/assets/img/banner/2.jpg);  background-size:cover; background-position: center center;">
                        <div class="atf-home-overlay">
                            <div class="container">
                                <div class="row atf-single-slide-sm2 atf-align-items-details align-items-center atf-single-text justify-content-center">
                                    <!--LEFT COL-->
                                    <div class="col-xl-6 col-lg-6 col-12 text-center atf-single-details ">
                                        <h5 class="mb-0 d-block d-lg-block text-white">Theo dõi website ngay bây giờ</h5>
                                        <h2 class="mb-0 d-block d-lg-block">Khuyến mãi tốt nhất trong bộ sưu tập của shop chúng tôi.</h2>
                                        <p class="pr-lg-5">Xuất xứ rõ ràng nhìn là yêu ngay</p>
                                        <!-- Main-btn -->
                                        <div class="atf-main-btn mt-3">
                                            <a href="#" class="page-scroll atf-themes-btn mr-4">Hàng cao cấp <i class="fa fa-angle-right"></i></a>
                                            <a href="#" class="page-scroll atf-themes-btn">Đặt ngay <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div><!--- END COL -->
                                </div><!--- END ROW -->
                            </div><!--- END CONTAINER -->
                        </div><!--- END Overlay -->
                    </div><!--- END slide -->
                </div><!-- .slick-slide-in -->
            </div>
        </div><!-- .slick-container -->

        <div class="pagination atf-style1 container"></div> <!-- If dont need Pagination then add class .atf-hidden -->
        <div class="swipe-arrow atf-style1 atf-hidden">
            <!-- If dont need navigation then add class .atf-hidden -->
            <div class="slick-arrow-left"><i class="fa fa-angle-left"></i></div>
            <div class="slick-arrow-right"><i class="fa fa-angle-right"></i></div>
        </div>
    </div><!-- .atf-slider -->
</section>